﻿@using Orchard.Core.Contents.ViewModels;


@Model Orchard.Content

@{
    
    var title = (IContentItem)Model.As<TitlePart>();
    var seoPart = (IContentItem)Model.As<SeoPart>();
    
}
<fieldset>

    <header>

    </header>


</fieldset>