﻿@{
    Style.Require("OnestopSeo_Admin");
    Script.Require("OnestopSeo_Admin").AtFoot();
}

<div class="onestop-seo-override-controls">
    <div class="onestop-seo-override-indicators">
        <span class="onestop-seo-override-indicate-default">@T("default")</span>
        <span class="onestop-seo-override-indicate-overridden">@T("overridden")</span>
    </div>
    <span class="text onestop-seo-character-counter"></span>
    
    @*<button type="submit" name="submit.SaveIndividual" class="button onestop-seo-override-submit-clear" value="@Model.Id">@T("Clear")</button>
    <button type="button" name="edit" class="button onestop-seo-override-edit" value="@Model.Id">@T("Edit")</button>
    <button type="submit" name="submit.SaveIndividual" class="button onestop-seo-override-submit" value="@Model.Id">@T("Save")</button>*@
</div>